body{
    background-color: blanchedalmond;
    margin: 0px;
    font-size: 22px;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0px auto;
}
/* Стилі до шапки сайту */
.header{
    background-color: rgb(221, 103, 82);
    padding: 10px 0px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-image{
    width: 120px;
}
.header-list{
    display: flex;
    gap: 50px;
}
.header-link{
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.header-link:hover{
    color: blanchedalmond;
}
/* Головна секція */
.hero{
    padding: 50px 0px;
}
.hero-container{
    display: flex;
    gap: 50px;
    align-items: center;
}
.hero-image{
    width: 550px;
}
.hero-title{
    font-size: 48px;
    color: rgb(113, 27, 12);
}
/* Стилі до 2 секції */
.dough{
    padding: 50px 0px;
    background-color: rgb(255, 167, 123);
}
.dough-container{
    display: flex;
    gap: 50px;
    align-items: center;
}
.dough-image{
    width: 550px;
}
.dough-title{
    color: rgb(113, 27, 12);
}
.dough-list{
    list-style: disc;
    margin-left: 50px;
}
/* Стилі до 3 секції */
.filling{
    padding: 50px 0px;
    background-color: blanchedalmond;
}
.filling-image{
    width: 550px;
}
.filling-title{
    color: rgb(113, 27, 12);
}
.filling-list{
    list-style-type: disc;
    margin-left: 50px;
}
.filling-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
/* Підвал сайту */
.footer{
    background-color: rgb(255, 167, 123);
    padding: 15px 0px;
}
.footer-image{
    width: 55px;
}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-text{
    color: rgb(255, 255, 255);
    font-weight: 900;
}